language: python
python:
  - "2.6"
  - "2.7"
  - "2.6"
  - "3.2"
  - "3.3"
  - "3.4"
install:
  - pip install analytics-python
  
before_script: python -c "import analytics"
script: python test.py

matrix:
  fast_finish: true
